body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
}

ul li{
    float: left;
}

ul li a {
    display:block;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}

ul li a:hover {
    color: #ffc0cb;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}